<footer class="bg-dark text-white py-4">
  <div class="container">
      <!-- Conteúdo Principal do Rodapé -->
    <div class="row">
      <div class="col-md-4">
        <h5>Sobre Nós</h5>
        <p>LLorem ipsum odor amet, consectetuer adipiscing elit. Aptent odio mollis primis venenatis sed ornare. Tellus luctus tempor laoreet vivamus nisi ex. Habitant aliquet sollicitudin magna massa arcu nullam convallis faucibus. Pulvinar tortor taciti in elementum sollicitudin sem at ridiculus montes.
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <h5>Links Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Produtos</a></li>
          <li><a href="#" class="text-white">Minha Conta</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Atendimento</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Horário de Atendimento:</a></li>
          <li><a href="#" class="text-white">08:00 às 21:00 - Segunda a Sexta</a></li>
          <li><a href="#" class="text-white">09:00 às 19:00 - Sábado</a></li>
          <li><a href="#" class="text-white">Horário de Brasília (Exceto domingo e feriados)</a></li>
        </ul>
      </div>
    </div>

    <!-- Redes Sociais -->
    <div class="row mt-3">
      <div class="col-4 text-center">
        <h5>Formas de Pagamento</h5>
        <br>
        <img src="assets/formasPag.png" alt="Formas de Pagamento" class="img-fluid">
      </div>
      <div class="col-5 text-center" id="icon-redes">
        <h5>Redes Sociais</h5>
        <br>
        <div class="social-icons">

          <a href="https://www.instagram.com/" target="_blank"><img src="assets/images/icon_insta.png" alt="logo" class="img-fluid"></a>

          <a href="https://web.facebook.com/login/?locale=pt_BR&_rdc=1&_rdr#" target="_blank"><img src="assets/images/icon_face.png" alt="logo" class="img-fluid"></a>

          <a href="https://www.tiktok.com/login?lang=pt-BR&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Dpt-BR" target="_blank"><img src="assets/images/icon_Tiktok.png" alt="logo" class="img-fluid"></a>

          <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJteCI6IjIifQ%3D%3D%22%7D" target="_blank"><img src="assets/images/icon_TwiterX.png" alt="logo" class="img-fluid"></a>

          <a href="https://www.youtube.com/" target="_blank"><img src="assets/images/icon_Youtube.png" alt="logo" class="img-fluid"></a>

        </div>
      </div>

      <div class="col-3 text-center" id="icon-redes">
        <h5>Entre em contato</h5>
        <br>
        <div class="social-icons">

          <a href="https://web.whatsapp.com/" target="_blank"><img src="assets/images/icon_WhatsApp.png" alt="iconeCab" class="img-fluid"></a>

          <a href="https://www.messenger.com/login/password/" target="_blank"><img src="assets/images/icon_Messenger.png" alt="iconeCab1" class="img-fluid"></a>

          <a href="https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser&ec=asw-gmail-globalnav-signin&ddm=1" target="_blank"><img src="assets/images/icon_Mail.png" alt="iconeCab2" class="img-fluid"></a>
        </div>

      </div>

    </div>

    <br>

    <div class="text-center mt-4">
      <p class="text-white">Endereço: Rua Angular Socorro, 123 - Bairro Deus Acuda - São Paulo - SP</p>
      <p class="frase">&copy; 2024 Game Mania. Todos os direitos reservados.</p>
    </div>
  </div>

</footer>



