<nav class="navbar">
  <ul class="nav-links">
    <li><a href="#">HOME</a></li>
    <li><a href="#">GAMES</a></li>
    <li><a href="#">MONTE SEU PC</a></li>
    <li><a href="#">HARDWARE</a></li>
    <li><a href="#">PERIFÉRICOS</a></li>
    <li><a href="#">SMARTPHONES</a></li>
    <li><a href="#">WORK</a></li>
  </ul>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span>☰</span>
  </div>
</nav>













<!-- navbar.component.html -->
<!--  <nav class="navbar">
  <ul class="navbar-list">
    <li><a href="#" routerLink="/">Home</a></li>
    <li><a href="#" routerLink="/games">Games</a></li>
    <li><a href="#" routerLink="/monteSeuPC">Monte Seu PC</a></li>
    <li><a href="#" routerLink="/hardware">Hardware</a></li>
    <li><a href="#" routerLink="/perifericos">Periféricos</a></li>
    <li><a href="#" routerLink="/smartphones">Smartphones</a></li>
    <li><a href="#" routerLink="/work">Work</a></li>
  </ul>
  <div class="menu-toggle" id="mobile-menu">
    <span>☰</span>
  </div>
</nav> -->
