<nav class="navbar">
  <ul class="nav-links">
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">HOME</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">GAMES</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">MONTE SEU PC</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">HARDWARE</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">PERIFÉRICOS</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">SMARTPHONES</button></a></li>
    <li><a href="#"><button type="button" id="button" class="btn btn-dark">WORK</button></a></li>
  </ul>
  <div class="menu-toggle" (click)="toggleMenu()">
    <span>☰</span>
  </div>
</nav>













<!-- navbar.component.html -->
<!--  <nav class="navbar">
  <ul class="navbar-list">
    <li><a href="#" routerLink="/">Home</a></li>
    <li><a href="#" routerLink="/games">Games</a></li>
    <li><a href="#" routerLink="/monteSeuPC">Monte Seu PC</a></li>
    <li><a href="#" routerLink="/hardware">Hardware</a></li>
    <li><a href="#" routerLink="/perifericos">Periféricos</a></li>
    <li><a href="#" routerLink="/smartphones">Smartphones</a></li>
    <li><a href="#" routerLink="/work">Work</a></li>
  </ul>
  <div class="menu-toggle" id="mobile-menu">
    <span>☰</span>
  </div>
</nav> -->
