<header class="bg-dark text-white py-4">
  <div class="container">
    <!-- Conteúdo Principal do Cabeçalho -->
    <div class="row align-items-center">
      <!-- Logo (Ajustando o tamanho) -->
      <div class="col-4 col-md-2 text-center">
        <img src="/logoGM.png" class="logo img-fluid" alt="Logo" style="max-height: 100px;">
      </div>

      <!-- Slogan -->
      <div class="col-5 col-md-6 text-center">
        <img src="/slogan.png" class="slogan img-fluid" alt="Slogan" style="max-height: 80px;">
      </div>

      <!-- Ícones de Cabeçalho (Favorito, Compra, Login) -->
      <div class="col-1 col-md-1 text-center">
        <img src="/favorito1.png" class="iconeCab img-fluid" alt="Favorito" style="max-height: 55px;">
      </div>
      <div class="col-1 col-md-1 text-center">
          <button (click)="rolarParaCarrinho()"><img src="/compra2.png" href="#carrinho" class="iconeCab img-fluid" alt="carrinho" style="max-height: 55px;"></button>
      </div>
        <div class="col-1 col-md-1 text-center">
          <button (click)="rolarParaLogin()"><img src="/loginButton1.png" href="#login" class="iconeCab2 img-fluid" alt="Login" style="max-height: 55px;"></button>
      </div>
    </div>
  </div>
</header>



