<!--Banners com o bootstrap-->
<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col-8 align-self-center">
          <img src="banner2.jpg" alt="banner2" class="img-fluid">
      </div>
      <div class="col-4 align-self-center">
          <img src="banner3.jpg" alt="banner3" class="img-fluid">
      </div>
  </div>
</div>

<!--Atualizei o banner de montagem de pc e coloquei as ofertas entre ele e os outros banners-->
<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col-1"></div>
      <div class="col-10">
          <img src="montarpc.png" alt="montarpc" class="img-fluid">
      </div>
      <div class="col-1"></div>
  </div>
</div>
