<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col-2"></div>
      <div class="col-8">
          <img src="/ofertatitulo.png" alt="ofertatitulo" class="img-fluid">
      </div>
      <div class="col-2"></div>
  </div>
</div>
<!-- Produtos -->
<section class="products">
  <div class="products-container" id="productsContainer">
  <div class="card" data-name="Produto 1">
      <img src="/oferta1.jpg" alt="Produto 1" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Produto 1</h5>
      </div>
  </div>
  <div class="card" data-name="Produto 2">
      <img src="/oferta2.jpg" alt="Produto 2" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Produto 2</h5>
      </div>
  </div>
  <div class="card" data-name="Produto 3">
      <img src="/oferta3.jpg" alt="Produto 3" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Produto 3</h5>
      </div>
  </div>
  <div class="card" data-name="Produto 4">
      <img src="/oferta4.jpg" alt="Produto 4" class="card-img-top">
      <div class="card-body">
          <h5 class="card-title">Produto 4</h5>
      </div>
  </div>
  <!-- Coloquei os códigos de acordo com o exemplo da aula para a funcionalidade da barra de pesquisa, mas ainda não está funcionando -->
</div>
</section>
